
/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313131;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Generator Styles */
#generator-results {
    width: 80%;
}

#generator-results ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.result {
    list-style-type: none;
    text-align: center;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
}

.result h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4vh;
    color: white;
}

.result p {
    padding-top: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 2vh;
    color: white;
    opacity: 0.2;
}

@media (max-width: 900px) {
    #generator-results ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #generator-results {
        width: 100%;
    }

    .result h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 6vh;
        color: white;
    }

    .result p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        letter-spacing: 2px;
        font-size: 2vh;
        color: white;
        opacity: 0.2;
    }

    .result {
        margin-top: 20px;
    }
}